@import "tailwindcss";

@plugin "daisyui" {
    themes:
        nord --default,
        night --prefersdark;
}

@plugin "@tailwindcss/typography";

@utility container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}
